---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

// 스포카 한 산스
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 14px/1.4 'Spoqa Han Sans';
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.67em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.33em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 14px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts > .post .tag_post {
  margin-bottom: 10px;
}

blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid $gray;
  padding: 0 1em;
  color: $gray;
  font-size: 1em;
  font-style: italic;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 0.83em;
  }

  p {
    font-size: 1em;
    line-height: 1.7em;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// pagination
.pagination {
  text-align: center;

  .disabled {
    color: #333;
  }
}

// footnote
a.footnote {
  vertical-align: super;
  font-size: 0.6em;
  padding: 0px 3px;
}

// figure
figure {
  text-align: center;

  img:not(.noshadow) {
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  }

  figcaption {
    font-size: 0.9em;
    color: $gray;

    &:before {
      content: "▲";
      margin-right: 5px;
      font-size: 0.4em;
      vertical-align: 3px;
    }
  }
}

// tag
.all_tags {
  line-height: 2em;
  a {
    border: 1px solid #9E9E9E;
    font-weight: 100;
    font-size: 0.8em;
    color: #616161;
    padding: 3px 8px;
    border-radius: 1000px;
    white-space: nowrap;
  }
}

.tag_post {
  color: $gray;
  font-size: 0.85em;
  margin-bottom: 30px;
  margin-top: 10px;

  .tag_link {
    color: inherit;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: "#";
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

// table
table {
  padding: 0;
  tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
    th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }
    td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }
    th :first-child, td :first-child {
      margin-top: 0;
    }
    th :last-child, td :last-child {
      margin-bottom: 0;
    }
  }
}

// post
.entry {
  word-break: break-all;
}

.MJXc-display {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
