---
layout: default
title: Tags
permalink: /tags/
---

{% assign all_tags = site.posts | map: 'tags' | compact | uniq | sort %}

<div class="all_tags">
  <h1>Archive</h1>
  {% for tag in all_tags %}
  <a href="#{{ tag }}" class="tag uppercase">#{{ tag }}</a>
  {% endfor %}
</div>

<div class="posts">
  {% for tag in all_tags %} {% assign count = 0 %}
  <h2 id="{{ tag }}" class="uppercase">#{{ tag }}</h2>
  <ul>
    {% for post in site.posts %} {% if post.tags contains tag %} {% assign count
    = count | plus: 1 %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> at
      <em>{{ post.date | date: "%b %d, %Y" }}</em>
    </li>
    {% endif %} {% endfor %}
  </ul>
  <p style="text-align:right">
    <em>{{ count }} posts</em>
  </p>
  {% endfor %}
</div>

<h2>포스트 갯수</h2>

<p>총 포스트 갯수: {{ site.posts | size }}</p>

<p>
<ul>{% assign number_of_posts = 0 %}
{% for post in site.posts %}{% assign currnet_year = post.date | date: "%Y" %}{% assign previous_year = post.previous.date | date: "%Y" %}{% assign number_of_posts = number_of_posts | plus: 1 %}{% if currnet_year != previous_year %}
<li>{{ currnet_year }}년 : {{ number_of_posts }} posts</li>{% assign number_of_posts = 0 %}{% endif %}{% endfor %}
</ul></p>

<h2>Post List</h2>

<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> at
    <em>{{ post.date | date: "%b %d, %Y" }}</em>
  </li>
  {% endfor %}
</ul>
